// 1. Import the initial variables
@import "node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update blue
$teal: #81a3be;
// Add pink and its invert
$pink: #ffb3b3;
$pink-invert: #fff;
// Add a serif family
$family-sans-serif: 'Raleway', sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $teal;
$primary-invert: $pink-invert;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
$family-primary: family-sans-serif;

$size-1: 7.5rem;
$size-2: 4rem;
$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 !default;
